<mat-card-header>
  <a
    [routerLink]="['/select']"
    matTooltip="Back to Codelab Quiz Selection"
    matTooltipPosition="left"
  >
    <img
      mat-card-avatar
      class="header-image"
      loading="lazy"
      alt="Quiz Header Image"
      ngSrc="assets/images/codelab_logo.jpeg"
      width="150"
      height="84"
    />
  </a>

  @if (currentQuiz(); as currentQuiz) {
    <div class="header-titles">
      <mat-card-title i18n>
        {{ currentQuiz?.milestone || 'No questions found' }} Quiz
      </mat-card-title>

      <mat-card-subtitle i18n>
        Assess your knowledge of
        {{ currentQuiz?.milestone || 'No questions found' }}
      </mat-card-subtitle>
    </div>
  }
</mat-card-header>
