@let optionBinding = binding();
@let option = optionBinding.option;
@let optionId = option.optionId;
@let index = displayIndex();
@let config = sharedOptionConfig();

<div
  class="option-cursor-wrapper"
  [class.cursor-not-allowed]="isNotAllowedCursor()"
  [attr.data-option-id]="optionId"
>
  @if (type() === 'single') {
    <mat-radio-button
      class="option-row single-option"
      appHighlightOption
      [sharedOptionConfig]="config"
      [optionBinding]="optionBinding"
      [value]="index"
      [ngClass]="getOptionClasses()"
      [style.background-color]="getOptionBackgroundColor()"
      [disabled]="isDisabled()"
      [disableRipple]="true"
      (change)="onChanged($event)"
      [attr.data-option-id]="optionId"
    >
      <ng-container *ngTemplateOutlet="optionContent"></ng-container>
    </mat-radio-button>
  } @else {
    <mat-checkbox
      class="option-row multiple-option"
      appHighlightOption
      [sharedOptionConfig]="config"
      [optionBinding]="optionBinding"
      [checked]="optionBinding.isSelected"
      [ngClass]="getOptionClasses()"
      [style.background-color]="getOptionBackgroundColor()"
      [disabled]="isDisabled()"
      [disableRipple]="true"
      (change)="onChanged($event)"
      [attr.data-option-id]="optionId"
    >
      <ng-container *ngTemplateOutlet="optionContent"></ng-container>
    </mat-checkbox>
  }
</div>

<ng-template #optionContent>
  <div
    class="option-wrapper"
    (click)="onContentClick($event)"
  >
    <span class="option-text">{{ getOptionDisplayText() }}</span>

    @if (shouldShowIcon()) {
      <mat-icon class="opt-icon">{{ getOptionIcon() }}</mat-icon>
    }
  </div>
</ng-template>
