<section class="message" [class.feedback-inline]="stylePreset() === 'inline'">
  @if (feedbackConfig()?.showFeedback) {
    <div class="feedback-message" [ngClass]="feedbackMessageClass()">
      @if (feedbackConfig()?.selectedOption?.correct) {
        <mat-icon class="material-icons"> sentiment_very_satisfied </mat-icon>
      } @else {
        <mat-icon class="material-icons wrong-icon">
          sentiment_very_dissatisfied
        </mat-icon>
      }
      <span>{{ displayMessage() }}</span>
    </div>
  }
</section>
